@font-face{
    font-family:"Thesignature";
    src:url("/assets/Thesignature.ttf");
}
body {
    margin:auto;
    background-color: rgb(99, 99, 99);
}
.cards{
    background-color: aquamarine;
    width: 5rem;
    height: 10rem;
}
