body {
    margin:auto
}
.cards{
    background-color: rgba(127, 255, 212, 0.461);
    width: 10rem;
    height: 14rem;
    position: fixed;
    left: 60%;
    top:25%;
    border-radius:10px;
}
.cards:hover{
    background-color:aqua;
}
h2{
    padding:0.5rem;
}
